body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 10px;
}

.container {
  min-height: 400px;
  max-width: 900px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

input {
  padding: 10px;
  font-size: 14px;
  width: 80%;
  margin: 5px 0;
}

button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  margin: 20px auto 0 auto;
}

#reiniciar {
  margin: 20px auto 0 auto;
  display: none;
}

table {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 70px;
  border-collapse: collapse;
  text-align: left;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}
